services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: myhouseserver:latest
    container_name: MyHouseServer
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped